########################
# sails
########################
.sails
.waterline
.rigging
.tmp


########################
# node.js / npm
########################
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

node_modules
assets
Canals.aif
npm-debug.log


########################
# misc / editors
########################
*~
*#
.DS_STORE
.netbeans
nbproject
.idea


########################
# local config
########################
config/local.js


########################
# Login system
########################
assets/linker/styles/login.css
assets/linker/styles/admin.css
api/controllers/UserController.js
api/controllers/AcquestController.js
api/models/User.js
api/policies
config/routes.js
config/policies.js
views/user
views/acquest
views/acquest_layout.ejs