<!DOCTYPE html>
<html>
  <head>
    <title>Page Not Found</title>
    <link rel="stylesheet" href="/linker/styles/styles.css">
  </head>
  <body id="kayaking">
      <div id="not-found">
        <p>Well, this page doesn't exist. If you've found an error in the website, please let me <a href="/#contact">know</a>.</p>
        <p>Here's the <a href="/">home page</a>.</p>
      </div>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/linker/js/scripts.js"></script>
  </body>
</html>