/*styles.css*/
@import url('http://fonts.googleapis.com/css?family=Exo+2:100,100italic,200,300,300italic,400,500,800');



body, html {
  margin: 0px;
  font-family: 'Exo 2';
  font-size: 16px;
  font-weight: 200;
}

a {
	text-decoration: none;
	color: rgb(33, 145, 209);
}

p {
	margin: 0 0 4px 0;
}
ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

h2 {
	font-size: 30px;
	font-weight: 500;
	color: rgb(33, 145, 209);
}

h4 {
	margin: 30px 0 10px;
	font-weight: 400;
	font-size: 24px;
	color: rgb(33, 145, 209);
}

h6 {
	font-size: 18px;
	font-weight: 300;
	margin-top: 10px;
	margin-bottom: 0px;
	padding: 10px 0px 10px 20px;
}

.page {
	margin: 0 100px;
	height: 100%;
}

@media only screen and (min-device-width: 700px) {

	.page { margin: 0 100px; }
}

@media only screen and (max-device-width: 700px) {
	
	.page { margin: 0 20px; }
}

.inline {
	display: inline;
}

.inline li {
	display: inline-block;
	list-style-type: none;
}

#header {
	max-width: 100%;
	padding: 30px 0px;
}

#header span /* name */ {
	font-size: 30px;
	font-weight: 300;
}

#header span > a {
	color: black;
}

/* DESKTOP */
@media only screen and (min-device-width: 700px) {

	/* iPhone6 Plus landscape fix */
	@media only screen and (max-device-width: 760px) {
		#header { margin: 20px 75px 30px; }
	}

	@media only screen and (min-device-width: 760px) {
		#header { margin: 20px 100px 30px; }
	}

	#header {
		border-bottom: 1px solid black;
	}

	#header span {
		float: right;
	}

}

/* MOBILE */
@media only screen and (max-device-width: 700px) {

	#header {
		text-align: center;
	}
	
	#header > ul {
		display: inherit;
		margin-bottom: 10px;
	}

	#header > ul > li {
		display: inherit;
	}

}

.button {
	color: white;
	font-size: 20px;
	padding: 10px;
	background: #5081B5;
	text-align: center;
	-webkit-transition: all 0.40s;
}


.button a {
	color: white;
}

.button:hover {
	background: #00688B;
}

footer {
	bottom: 0;
	position: inherit;
	text-align: center;
	clear: both;
	display: inline-block;
	margin: 40px 0 15px;
	font-size: 14px;
}

/* DESKTOP */
@media only screen and (min-device-width: 700px) {
	footer { width: 100%; }
}

/* MOBILE */
@media only screen and (max-device-width: 700px) {
	footer { padding: 0 10px; }
}


.links li > a > img {
	width: 30px;
}

.pages li {
	margin-right: 15px;
	font-size: 22px;
	font-weight: 100;
	color: rgb(89, 166, 250);
} 

.pages li > a {
	-webkit-transition: all 0.25s;
	padding: 3px;
}

.pages li > a:hover {
	color: white;
	background: #00688B;
}

.box, .boxes li {
	border-radius: 5px;
	background: rgb(89, 166, 250);
	color: white;
	padding: 10px;
}


.musician 		{ background: rgb(89, 166, 250); 	}
.programmer 	{ background: rgb(146, 146, 146); 	}
.student 		{ background: rgb(201, 0, 22);		}
.kayak 			{ background: rgb(5, 184, 34);
				  font-size: 18px;					}

/* DESKTOP */
@media only screen and (min-device-width: 700px) {

	#box-wrapper {
		position: relative;
		height: 380px;
		font-size: 28px;
	}

	#box-wrapper span {
		position: absolute;
	}

	.musician 		{ margin-top: 50px;		   }
	.programmer 	{ margin: 122px 0 0 180px; }
	.student 		{ margin: 200px 0 0 400px; }
	.kayak 			{ margin: 300px 0 0 560px; }

}

/* MOBILE */
@media only screen and (max-device-width: 700px) {

	#box-wrapper {
		font-size: 24px;
		text-align: center;
	}

	#box-wrapper span {
		display: block;
		width: 95%;
		margin: 0 auto;
		margin-bottom: 8%;
	}
}

/* DESKTOP */
@media only screen and (min-device-width: 700px) {

	#about-left { /* float left and right only on desktop */
		float: left;
		width: 75%;
	}

	#about-right {
		float: right;
		width: 24%;
	}

	#about-right img {
		margin-right: 30px;
	}

}

#about-right {
	font-size: 12px;
	text-align: center;
}

#about-right img {
	width: 180px;
	margin-top: 50px;
}

#about-list {
	font-size: 20px;
	list-style: initial;
	margin-left: 20px;
}

#about-list li {
	margin: 10px;
}

#skill-list {
	width: 500px;
}

#skill-list li {
	padding: 7px;
	font-size: 14px;
	margin: 6px 3px;
	background: rgb(16, 117, 143);
}

.work ul > li {
	margin-bottom: 15px;
}

.work h2, .link.button {
	display: inline-block;
}

/* DESKTOP */
@media only screen and (min-device-width: 700px) {

	.work h2, .link.button {
		display: inline-block;
	}

	.link.button {
		float:right;
		margin-top: 30px;
	}

}

/* MOBILE */
@media only screen and (max-device-width: 700px) {
	.link.button {
		margin-bottom: 30px;
		display: block;
	}
}

#project-list li,
#project-list li > h6 {
	-webkit-transition: all 0.25s;
}

#project-list li:hover,
#project-list li.active {
	background: #00688B;
}

#project-list li:hover h6, 
.details,
.details ul > li > a {
	color:white;
}

.details {
	display: none;
	color: white;
}

.details ul > li {
	margin-top: 12px; 
}

.details ul > li > a {s
	font-style: italic;
	color: yellow;
}

.details ul > li > a:hover {
	text-decoration: underline;
}

/* DESKTOP */
@media only screen and (min-device-width: 700px) {
	
	.details {
		padding: 10px 50px 20px;
	}

	.details ul > li > a {
		margin: 0px 12px;
	}

}

/* MOBILE */
@media only screen and (max-device-width: 700px) {
	
	.details {
		padding: 10px 20px 20px;
	}

	.details ul > li > a {
		margin: 0px 4px;
	}

}

#contact-window form {
	margin-top: 25px;
}

.form-group {
	margin-bottom: 15px;
}

.form-group label {
	font-size: 18px;
	font-weight: 400;
	line-height: 40px;
}

.form-group input, 
.form-group textarea {
	width: 250px;
	font-size: 14px;
	font-family: 'Exo 2';
	display: inline-block;
	border: 1px solid #AAA;
	padding: 5px 10px;
	height: 30px;
}

.form-group textarea {
	height: 120px;
}

.form-group input:focus,
.form-group textarea:focus {
	outline: none;
	border: 1px solid #4AAEE1;
}

form button {
	border: none;
	font-family: 'Exo 2';
	width: 100px;
	text-transform: uppercase;
}

/* DESKTOP */
@media only screen and (min-device-width: 740px) {
	
	#contact-desc {
		width: 45%;
		float: left;
	}

	#contact-window {
		width: 40%;
		float: right;
	}

	.form-group textarea {
		width: 350px;
	}

	.form-group label {
		vertical-align: middle;
		width: 100px;
		float: left;
	}

}

/* MOBILE */
@media only screen and (max-device-width: 740px) {

	#contact-desc, #contact-window { text-align: center; }

	.form-group label {
		display: block;
		text-align: center;
	}
	
}

#logos {
	margin-top: 50px;
	display: inherit;
}

#logos li > a > img {
	width: 50px;
}

#not-found {
	text-align: center;
}

@media only screen and (min-device-width: 700px) {

	#not-found {
		margin : 295px auto 0 auto;
		width: 700px;
	}

	#kayaking {
		background: url(/images/kayaking.jpg) no-repeat center center fixed; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}

}

@media only screen and (max-device-width: 700px) {

	
	#not-found {
		width: 81%;
		margin : 200px auto 0 auto;
	}

	#kayaking {
		background: url(/images/pleasanton.jpg) no-repeat center center fixed; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}

}
