<!DOCTYPE html>
<div id="admin-background">
	<div id="admin-wrapper" class="page admin-form">
		<form action="/skill/create">
			<div class="form-title">Create a <i>skill</i> below:</div>
			
			<div class="form-subtitle">Skill Name</div>
			<input type="text" name="name" autocomplete="off"><br>

			<div class="form-subtitle">Skill Type (i.e. "music", "cs")</div>
			<input type="text" name="type" autocomplete="off"><br>
			
			<input type="submit" value="Submit">
		</form>
	</div>
</div>