<!DOCTYPE html>
<!-- Enjoy the source code! -->
<div id="header">
	<ul class="pages inline">
		<li><a href="#about">About</a></li>
		<li><a href="#work">Work</a></li>
		<li><a href="#projects">Projects</a></li>
		<li><a href="#contact">Contact</a></li>
	</ul>
	<span><a href="/">Hugh Zabriskie</a></span>
</div>

<div class="top page" style="display:none">
	<div id="box-wrapper">
		<span class="musician box">I am a musician...</span>
		<span class="programmer box">computer programmer...</span>
		<span class="student box">...and junior at Harvard University.</span>
		<span class="kayak box">Also, if you are interested in kayaking, we should talk.</span>
	</div>
</div>
<div class="about page" style="display:none">
	<div id="about-left">
		<h2>Besides a kayaker...</h2>
		<ul id="about-list">
			<li>A junior at Harvard University studying computer science and music.</li>
			<li>A native Houstonian.</li>
			<li>Highly interested in languages, Russian literature, and all things related to music technology.</li>
			<li>Pianist, cellist, composer, arranger</li>
			<li>Swimmer, biker</li>
		</ul>
		<h4>Skill Set</h4>
		<ul id="skill-list" class="inline boxes">
			<li>Piano</li>
			<li>Synthesizer</li>
			<li>Composing</li>
			<li>Arranging</li>
			<li>Sightreading</li>
			<li>C/C++</li>
			<li>Java</li>
			<li>Javascript</li>
			<li>Python</li>
			<li>Ruby</li>
			<li>OCaml</li>
			<li>JQuery</li>
			<li>MySQL</li>
			<li>Node.js</li>
			<li>Laravel</li>
			<li>Spanish</li>
		</ul>
	</div>
	<div id="about-right">
		<img src="/images/me.jpg">
		<p>Photo credit: <a href="https://www.facebook.com/jhayashiphotography" target="_blank"> Jordan Hayashi</a></p>
	</div>
</div>
<div class="work page" style="display:none">
	<h2>Work Experience</h2>
	<div class="link button"><a href="http://hughzabriskie.com/docs/resume_hugh_zabriskie.pdf">Download Resume >></a></div>
	<ul>
		<li>
			<p><b>Cringle GmbH</b> | Berlin, Germany</p>
			<p><i>Software and Web Development Intern</i> | May 2014 - August 2014</p>
			<p>Developer for an innovative mobile banking app. Implemented new website and back-end components for securely storing bank data and communicating with payment service providers. An article about it (in German!) can be found <a href="http://www.entrepreneurship.tu-berlin.de/index.php?id=152648" target="_blank">here</a>.</p>
		</li>
		<li>
			<p><b>Generations Theater Company</b> | Houston, TX</p>
			<p><i>Keyboardist, Composer</i> | June 2010 - July 2013</p>
			<p>Primary keyboardist for four summers of professional theater productions. Wrote original underscore for <i>ART</i> (2011).</p>
		</li>
		<li>
			<p><b>Harvard-Radcliffe Dramatic Club</b> | Cambridge, MA</p>
			<p><i>Keyboardist, Composer, Music Director</i> | September 2012 - Present</p>
			<p>Worked on multiple musical productions as music director and keyboardist. Responsiblities include recruiting musicians for the orchestra and teaching music to the cast. Also composed an original underscore for <i>A Streetcar Named Desire</i> (2013).</p>
	</ul>
	<h4>Projects</h4>
	<ul>
		<li><b>Das Harmonie</b>. A Python attempt at automatic melodic harmonization. More <a href="https://github.com/glasperfan/dasharmonie" target="_blank">here</a>.</li>
		<li><b>Course Messenger</b>. A chatroom application designed for lectures, allowing students to post questions, reply and like comments, answer instructor questions, and view responses. Available <a href="http://cs164chatjs.herokuapp.com/login" target="_blank">here</a>.</li>
	</ul>
	<h4>What else keeps me busy...</h4>
	<ul>
		<li><b>Hasty Pudding Theatricals</b>. October 2012 - Present. Keyboardist and arranger for HPT 165 - 166.</li>
		<li><b>Harvard Storytime Players</b>. March - May 2013. Composed original songs for the annual musicial, which is put on for children in hospitals around the greater Boston area.</li>
	</ul>
</div>
<div class="projects page" style="display:none">
	<h2>Labors of Love </h2>
	<ul id="project-list">
		<li>
			<h6>Tired Eyes</h6>
			<div class="details">
				<p>Piano trio. Novermber 2011 - March 2012.</p><p>Performed on The Front Row, an NPR radio program dedicated to promoting the arts in Houston.</p>
				<ul>
					<li>Movement I 
						<a href="https://www.youtube.com/watch?v=UxVV0EioIE8">video</a>  
					</li>
					<li>Movement II 
						<a href="https://www.youtube.com/watch?v=c8FIp8WKl8s">video</a>  
					</li>
					<li>Movement III 
						<a href="https://www.youtube.com/watch?v=K9UM1b4R3fU">video</a> 
						<a href="https://soundcloud.com/hughza/tired-eyes-ii">SoundCloud</a> 
					</li>
					<li>Full score available on request.
					</li>
				</ul>
			</div>
		</li>
		<li>
			<h6>A Streetcar Named Desire</h6>
			<div class="details">
				<p>Jazz sextet. January 2013 - May 2013.</p><p>Performed on The Front Row, an NPR radio program dedicated to promoting the arts in Houston.</p>
				<ul>
					<li>Opening number  
						<a href="http://hughzabriskie.com/docs/streetcar_opening_tune.pdf">pdf</a>
					</li>
					<li>Full score available on request. 
					</li>
				</ul>
			</div>
		</li>
		<li>
			<h6>The Actor</h6>
			<div class="details">
				<p>Solo piano. July 2011.</p><p>Used to underscore a production of <i>A Streetcar Named Desire</i></a> at Generations Theater Company (2011).</p>
				<ul>
					<li>Full score  
						<a href="http://hughzabriskie.com/docs/the_actor_full_score.pdf">pdf</a>
					</li>
					<li>Solo piano	
						<a href="https://soundcloud.com/hughza/the-actor">SoundCloud</a>
					</li>
				</ul>
			</div>
		</li>
		<li>
			<h6>Coconut Grove</h6>
			<div class="details">
				<p>Jazz quartet. September 2010.</p><p>Performed with members of the University of Houston Jazz Band at their Spring Concert (2010).</p>
				<ul>
					<li>UH Jazz Band  
						<a href="http://hughzabriskie.com/audio/coconut_grove.mp3">mp3</a>
					</li>
					<li>Full score available upon request.
					</li>
				</ul>
			</div>
		</li>
		<li>
			<h6>HPT 166 Exit Music</h6>
			<div class="details">
				<p>Jazz Band. January 2014.</p><p>Performed as part of <i>HPT166: Victorian Secrets</i> with the Hasty Pudding Theatricals.</p>
				<ul>
					<li>Full score  
						<a href="http://hughzabriskie.com/docs/166_exit_music.pdf">pdf</a>
					</li>
					<li>Excerpt 
						<a href="http://hughzabriskie.com/audio/166_exit_music.mp3">mp3</a>
					</li>
				</ul>
			</div>
		</li>
		<li>
			<h6>How I Met Your Mother</h6>
			<div class="details">
				<p>Jazz Band. January 2014. Original song by the Solids.</p><p>Arranged as the official theme for Hasty Pudding's 2014 <a href="http://hastypudding.org/this-year-honorees">Man of the Year</a>, Neil Patrick Harris.</p>
				<ul>
					<li>Full score available on request.
					</li>
				</ul>
			</div>
		</li>
		<li>
			<h6>Killer Queen</h6>
			<div class="details">
				<p>Jazz Band. January 2014. Original song by Queen.</p><p>Arranged as the official theme for Hasty Pudding's 2014 <a href="http://hastypudding.org/this-year-honorees">Woman of the Year</a>, Helen Mirren.</p>
				<ul>
					<li>Full score available on request.
					</li>
				</ul>
			</div>
		</li>
		<li>
			<h6>Wiggle</h6>
			<div class="details">
				<p>Jazz Band. July 2014. Original song by Jason Derulo (feat. Snoop Dogg).</p><p>Arranged for the Hasty Pudding Band. Played for various occassions and whenever the audience needed to be woken up.</p>
				<ul>
					<li>Original song (in case you needed a reminder).
						<a href="https://www.youtube.com/watch?v=hiP14ED28CA">Youtube</a>
					</li>
					<li>Basic MIDI realization
						<a href="http://hughzabriskie.com/audio/wiggle_midi.mp3">mp3</a>
					</li>
					<li>Full score available on request.
					</li>
				</ul>
			</div>
		</li>
		<li>
			<h6>Soundscapes</h6>
			<div class="details">
				<p>Soundscapes is a Mac app I built over Winter Break last year that allows you construct "soundscapes" of ambient instrumental music for studying, sleeping, or whatever mood you're in. It also features a sleep system and real-time mixing of soundscapes. I recorded the tracks below for the project.</p>
				<ul>
					<li>Echoes in the Night
						<a href="https://soundcloud.com/hughza/soundscapes-i">SoundCloud</a>
					</li>
					<li>Morning Dew
						<a href="https://soundcloud.com/hughza/soundscapes-ii">SoundCloud</a>
					</li>
					<li>Canals
						<a href="https://soundcloud.com/hughza/soundscapes-iii">SoundCloud</a>
					</li>
				</ul>
			</div>
		</li>
		<li>
			<h6>This website!</h6>
			<div class="details">
				<p>Made with love in a <a href="http://sailsjs.org/">sails.js</a> framework.</p>
				<ul>
					<li>The code
						<a href="https://github.com/glasperfan/personal-1">repo</a>
					</li>
				</ul>
			</div>
		</li>
	</ul>
</div>


<div class="contact page" style="display:none">
	<div id="contact-desc">
		<h2>Do you also kayak?</h2>
		<p>If you would like access to the other music, just shoot me a quick note here! Or if you have another professional interest in my work, please contact me! I'm always looking to find new projects and expand my musical and technological horizons.</p>
		<ul id="logos" class="inline">
			<li><a href="https://www.linkedin.com/profile/view?id=318906269" target="_blank"><img src="/images/linkedin.png"></a></li>
			<li><a href="https://soundcloud.com/hughza" target="_blank"><img src="/images/soundcloud.png"></a></li>
			<li><a href="https://github.com/glasperfan" target="_blank"><img src="/images/github.png"></a></li>
		</ul>
	</div>
	<div id="contact-window">
		<h4>Contact Form</h4>
		<form method="POST" action="/contact">
			<div class="form-group">
				<label for="name">Name</label>
				<input type="text" name="name" autocomplete="off" required>
			</div>
			<div class="form-group">
				<label for="email">Email</label> 
				<input type="email" name="email" autocomplete="off" required>
			</div>
			<div class="form-group">
				<label type="subject">Subject</label>
				<input type="text" name="subject" autocomplete="off" required>
			</div>
			<div class="form-group">
				<label for="message">Message</label><br>
				<textarea name="message" maxlength="1000" autocomplete="off" required></textarea>
			</div>
			<button type="submit" class="button">Send</button>
		</form>
	</div>
</div>

<footer>
	<p>Copyright 2014 Hugh Zabriskie. Feel free to <a id="to-contact" href="#contact">contact me!</a> I'm a nice guy. 
</footer>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-55412346-1', 'auto');
  ga('send', 'pageview');

</script>